window {
font-family: Iosevka;
color: #ffffff;
margin: 5px;
border: 1px solid #8bd5ca;
background-color: #363a4f;
}

#input {
color: #ffffff;
margin: 5px;
outline: none;
border: 2px solid #ed8796;
background-color: #ed8796;
}

#input:focus {
box-shadow: none;
}

#inner-box {
margin: 5px;
border: 2px solid #363a4f;
background-color: #363a4f;
}

#outer-box {
margin: 5px;
border: 2px solid #363a4f;
background-color: #363a4f;
}

#scroll {
margin: 5px;
border: 1px solid #363a4f;
background-color: #363a4f;
}

#text {
margin: 5px;
padding: 5px;
color: #cad3f5;
background-color: #363a4f;
}

#text:selected {
color: #8bd5ca;
border: 1px solid #8bd5ca;
border-radius: 5px;
}

#entry:selected {
background-color: #363a4f;
}

#entry:focus {
outline: none;
}
